//  Variables
//  ==========================================================================


//  Colors
//  --------------------------------------------------------------------------

// main color of the company such as the isotype, logo, etc.
$color-company      = #F09236
// colour of text and main colour overall
$color-primary      = #F9C75A
// colour of any components, backgrounds, etc.
$color-secondary    = #748FB5
// special colour to complement secondary colour
$color-tertiary     = #6E757C

$color-fourth       = #CECECE

$color-title        = $color-tertiary
$color-text         = $color-primary
$color-link         = $color-company
$color-bg-primary    = #1D242A // normal
$color-bg-secondary = #323946 // claro
$color-bg-tertiary  = #181728 // oscuro



//  Base
//  --------------------------------------------------------------------------

// Typography
$font-title = 'Dosis', sans-serif //600;700;800
$font-text = 'Quicksand', sans-serif //400;500

$font-family = 'Poppins', sans-serif
$font-size   = 16px
$line-height = 1.6