.Accessories
  margin-top 150px
  &__subtitle
    font-size: 16px
    font-weight: 800
    color: $color-secondary
    text-align: center
    margin 0
  &__title
    font-weight: 600
    font-size: 60px
    line-height: 1
    text-align: center
    color: #fff
    margin-top 15px
  
  &__paragraph
    text-align: center
    color: $color-fourth
  
  &__button
    display: flex
    justify-content: center
    margin-top 20px
  
  &__images
    display: flex
    justify-content: center
    margin-top 30px
    figure
      display: flex
      align-items: center
      justify-content: center
      border: 15px solid #fff
      border-radius: 50%
      background: #fff
      height: 150px
      width: 150px
    img
      display: block
      height: 70%
      width: auto
