@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #1d242a;
  color: #ddd;
}
button {
  color: #ddd;
  border-width: 1px;
  border-radius: 7px;
  background: none;
  font-size: 16px;
  height: 26px;
}
.o-wrapper {
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .o-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.Accessories {
  margin-top: 150px;
}
.Accessories__subtitle {
  font-size: 16px;
  font-weight: 800;
  color: #748fb5;
  text-align: center;
  margin: 0;
}
.Accessories__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin-top: 15px;
}
.Accessories__paragraph {
  text-align: center;
  color: #cecece;
}
.Accessories__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Accessories__images {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.Accessories__images figure {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #fff;
  border-radius: 50%;
  background: #fff;
  height: 150px;
  width: 150px;
}
.Accessories__images img {
  display: block;
  height: 70%;
  width: auto;
}
.CoverPage {
  align-items: flex-end;
  display: flex;
  min-height: 500px;
  position: relative;
}
.CoverPage__background {
  position: absolute;
  height: auto;
  right: 0;
  top: 0;
  width: 55%;
  z-index: 1;
}
.CoverPage__content {
  position: relative;
  width: 60%;
  z-index: 2;
}
.CoverPage__subtitle {
  color: #748fb5;
}
.CoverPage__title {
  color: #fff;
  font-size: 72px;
  line-height: 1;
  margin: 0 0 20px 0;
}
.CoverPage__paragraph {
  color: #6e757c;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
  margin: 0;
}
.CoverPage__button {
  padding-top: 25px;
}
.Description {
  margin-top: 150px;
}
.Description__wrapper {
  background: #323946;
  border-radius: 40px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.Description__figure {
  position: relative;
  bottom: 30px;
  max-width: 500px;
  width: 40%;
  display: block;
}
.Description__image {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.Description__image:nth-child(1) {
  position: relative;
  display: block;
  -webkit-animation-name: none;
          animation-name: none;
}
.Description__image:nth-child(2) {
  display: block;
}
.Description__image:nth-child(3) {
  display: block;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.Description__image:nth-child(4) {
  display: block;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.Description__content {
  padding-left: 30px;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.c-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 124px;
  height: 56px;
  padding: 0 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s;
  border-color: #f09236;
  background: #f09236;
  cursor: pointer;
}
.c-button:hover {
  background: none;
}
.FAQ {
  margin-top: 150px;
}
.FAQ__wrapper {
  background: #323946;
  border-radius: 40px;
  position: relative;
  z-index: 3;
  padding: 50px;
}
.FAQ__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin-top: 15px;
}
.FAQ__question-wrapper {
  border-bottom: 1px solid #6e757c;
  padding-top: 20px;
  position: relative;
}
.FAQ__question-wrapper:before {
  content: 'v';
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 14px;
  font-weight: 800;
}
.FAQ__response {
  color: #f9c75a;
  font-style: italic;
}
